<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413394692252-hmi3uem8evbjeg0iso3ojv3pe7taq3fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413394692252-hmi3uem8evbjeg0iso3ojv3pe7taq3fl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413394692252-grl2g65chst774j6rkdkogljqfdc14dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMR6xlP4mldCjklEWnA9UpHR97QI8QNeM</string>
	<key>GCM_SENDER_ID</key>
	<string>413394692252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krita</string>
	<key>PROJECT_ID</key>
	<string>krita-test</string>
	<key>STORAGE_BUCKET</key>
	<string>krita-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413394692252:ios:8575e25c096933cd862559</string>
</dict>
</plist>